html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Sofia Pro', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f4f6f8;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  color: #242434;
  letter-spacing: 0.15px;
  line-height: 1.7;
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: start;
  grid-gap: 2em;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width:100%;
  max-width: 1200px;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
