html {
  box-sizing: border-box;
  @media (max-width: 1366px) {
    font-size: 12px;
    nav {
      height: 90px;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Sofia Pro', sans-serif;
  color: $black;

  outline: none !important;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
