$primary: #6190e8;
$secondary: #7f65ea;
$accent: #51e5d5;

$white: #ffffff;
$black: #434343;

// Text colors

$text-primary: $black;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $primary;
