// Typography
$font-stack: 'Roboto', sans-serif;

// Font weights

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;
$text-header: 1.2rem;

// Font mixin

@mixin font($weight, $font-family: $font-stack) {
  font-family: $font-family;
  font-weight: $weight;
}
