<section class="departments">
  <div class="main--container">
    <div class="dept--tabs">
      <div class="tabs flex w-100 flex--between text-center">
        <div class="tab active"><a href="">CRM & Sales</a></div>
        <div class="tab"><a href="">Human Resources</a></div>
        <div class="tab"><a href="">Marketing</a></div>
        <div class="tab"><a href="">Remote Work</a></div>
        <div class="tab"><a href="">Project Management</a></div>
        <div class="tab"><a href="">Social Media</a></div>
      </div>
      <div
        class="tab--view wrap main--container flex w-100 flex--middle flex--between"
      >
        <div>
          <h2 class="text-normal">Manage team activities all in one place</h2>
          <p>
            Keep your team organized and informed with activities that are up to
            date.
          </p>
        </div>
        <div>
          <div class="vid--holder">
            <img class="video--img" src="../img/vid-img.png" alt="" />
            <a class="play--img" href="#">
              <img src="../img/playImg.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
