<header>
  <section class="main--container cta sub--container flex flex--middle">
    <div class="left--title">
      <div class="text--content">
        <h2>Collaborate with your team and get more done</h2>
        <p>
          Communicate effectively with Oneburner for easy collaboration, team
          work and remote work.
        </p>
        <a class="btn btn--primary mt-10" href="">
          Start Free Trial
          <i class="fas ml-10 fa-angle-right"></i>
        </a>
      </div>
    </div>
    <div class="right--img">
      <img src="../img/headerImg.png" alt="" />
    </div>
  </section>
  <section
    class="our--partners main--container sub--container wrap flex flex--middle"
  >
    <p class="w-100 text-center">
      Over 500+ companies bond teams together with Oneburner
    </p>
    <div class="w-100 flex mt-25 flex--middle flex--between">
      <div class="partner">
        <img src="../img/paystack.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/egyptair.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/dangote.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/stanbic.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/mtn.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/gtb.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/skooleeo.png" alt="" />
      </div>
    </div>
  </section>
</header>
