<footer>
  <section class="top--footer wrap flex flex--between flex--middle">
    <div>
      <img src="../img/logo.png" alt="" />
    </div>
    <div class="custom-select" style="width:200px;">
      <img class="selected--img" src="../img/world.png" alt="" />
      <i class="fas select-icon fa-angle-down"></i>
      <select>
        <option value="0">Select Language</option>
        <option selected value="1">English</option>
        <option value="2">Igbo</option>
        <option value="3">yoruba</option>
        <option value="4">Hausa</option>
      </select>
    </div>
  </section>
  <section class="footer--content wrap flex flex--between flex--middle">
    <div class="left--foot">
      <div>
        <h2 class="text-normal">No 1 CRM solution in Africa</h2>
        <p><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
      </div>
      <div class="mt-15">
        <p class="text-bold">Get in touch</p>
        <h2 class="text-normal">+234-80-000-0000</h2>
        <div class="flex mt-15">
          <a class="mr-15" href="">
            <img src="../img/facebook-footer.svg" alt="" />
          </a>
          <a class="mr-15" href="">
            <img src="../img/twitter-footer.svg" alt="" />
          </a>
          <a class="mr-15" href="">
            <img src="../img/linkedin-footer.svg" alt="" />
          </a>
          <a class="mr-15" href="">
            <img src="../img/youtube-footer.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="right--foot flex">
      <div class="mr-15">
        <h2>PRODUCT</h2>
        <ul>
          <li><a href="">Features</a></li>
          <li><a href="">Enterprise</a></li>
          <li><a href="">Security</a></li>
          <li><a href="">Trust</a></li>
          <li><a href="">Customer Stories</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Integrations</a></li>
          <li><a href="">Oneburner Partners</a></li>
        </ul>
      </div>
      <div class="mr-15">
        <h2>COMPANY</h2>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">In the News</a></li>
        </ul>
      </div>

      <div class="mr-15">
        <h2>ONEBURNER FOR TEAMS</h2>
        <ul>
          <li><a href="">Engineering</a></li>
          <li><a href="">Financial Services</a></li>
          <li><a href="">CRM and Sales</a></li>
          <li><a href="">IT</a></li>
          <li><a href="">Marketing </a></li>
          <li><a href="">Customer Support</a></li>
          <li><a href="">Human Resources</a></li>
          <li><a href="">Project Management</a></li>
          <li><a href="">Remote Work</a></li>
        </ul>
      </div>
      <div>
        <h2>RESOURCES</h2>
        <ul>
          <li><a href="">Community</a></li>
          <li><a href="">Guides</a></li>
          <li><a href="">Templates</a></li>
          <li><a href="">Video Tutorials</a></li>
          <li><a href="">Professional Services</a></li>
          <li><a href="">Knowledge Base</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Webinars</a></li>
          <li><a href="">Find a Partner</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="sub--footer">
    <p>© 2020 Oneburner.com | All Rights Reserved.</p>
  </section>
</footer>
