<header class="contact--header">
  <section class="main--container contact flex wrap flex--middle flex--between">
    <div class="left--form">
      <form class="w-100">
        <div class="two--inputs inputs flex flex--between">
          <div>
            <label for="fname">First Name</label>
            <input id="fname" type="text" />
          </div>
          <div>
            <label for="lname">Last Name</label>
            <input id="lname" type="text" />
          </div>
        </div>
        <div class="inputs flex flex--between mt-15">
          <div>
            <label for="email">Work Email</label>
            <input id="email" type="email" />
          </div>
        </div>
        <div class="inputs flex flex--between mt-15">
          <div class="input--group flex wrap">
            <label class="w-100" for="pnum">Phone Number</label>
            <i class="fas select--down fa-angle-down"></i>
            <div class="current-code">+234</div>
            <div class="my--select">
              <div class="active--select">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/7/79/Flag_of_Nigeria.svg"
                  alt="234"
                />
              </div>
              <ul class="imgs">
                <li class="select--option">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/7/79/Flag_of_Nigeria.svg"
                    alt="234"
                  />
                </li>
                <li class="select--option">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                    alt="1"
                  />
                </li>
                <li class="select--option">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg"
                    alt="44"
                  />
                </li>
              </ul>
            </div>
            <input class="w-not" id="pnum" type="number" />
          </div>
        </div>
        <div class="inputs flex flex--between mt-15">
          <div>
            <label for="pint">Product of Interest</label>
            <select class="w-100" id="pint">
              <option value="0" disabled selected>Select an Option</option>
            </select>
          </div>
        </div>
        <div class="two--inputs mod inputs mt-15 flex flex--between">
          <div>
            <label for="cname">Company Name </label>
            <input id="cname" type="text" />
          </div>
          <div>
            <label for="csize">Company Size </label>
            <select class="w-100" id="csize">
              <option value="0" disabled selected>Select an Option</option>
            </select>
          </div>
        </div>
        <div class="inputs flex flex--between mt-15">
          <div>
            <label for="expert">Product of Interest</label>
            <textarea class="w-100" id="expert" rows="10"></textarea>
          </div>
        </div>
        <div class="mt-15">
          <button class="btn btn--primary">Contact Us</button>
        </div>
      </form>
    </div>
    <div class="right--locations">
      <h2>Request a call from an expert</h2>
      <p>
        Having thoughts on which product works best for you? Fill the form and
        our expert will reach out to you.
      </p>
      <div class="loc--list">
        <h2>Our offices around Africa</h2>
        <ul class="flex flex--between wrap">
          <li>
            <h3>Nigeria</h3>
            <p>33a, Adeola Odeku, Victoria Island, Lagos.</p>
            <p>+234-(0)-8000000000</p>
          </li>
          <li>
            <h3>GHANA</h3>
            <p>45, El-Senoussi Street, Accra</p>
            <p>+233-(0)-277619819</p>
          </li>
          <li>
            <h3>South africa</h3>
            <p>474, Cheriton Drive, Port Shepstone, Kwazulu-Natal</p>
            <p>+27-(0)-857926978</p>
          </li>
          <li>
            <h3>Egypt</h3>
            <p>72, Gameat El-Dewal El-Arabia St., Giza.</p>
            <p>+20-(0)-35924295</p>
          </li>
          <li>
            <h3>Kenya</h3>
            <p>41, Enterprise Rd., Industrial Area , Niarobi</p>
            <p>+254-(0)-20536766</p>
          </li>
          <li>
            <h3>tunisia</h3>
            <p>13, Rue de Makthar, Dhraa Governorate Kasserine</p>
            <p>+216-(0)-77367410</p>
          </li>
          <li>
            <h3>mali</h3>
            <p>22, Badalabougou Est., Bamako.</p>
            <p>+223-(0)-78175387</p>
          </li>
          <li>
            <h3>TANZANIA</h3>
            <p>Mbezi Beach, P.O.B: 70339, Dar Salaam</p>
            <p>+234-(0)-8000000000</p>
          </li>
          <li>
            <h3>togo</h3>
            <p>10, E rue des Echis, Lome</p>
            <p>+228-(0)-22229600</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>
