<header>
  <section
    class="main--container cta-enter sub--container flex flex--center flex--middle"
  >
    <div>
      <h2>Modern solution built for your enterprise growth</h2>
      <p>Centralize your team in a secure, flexible and managed platform</p>
      <a class="btn btn--primary mt-10" href="">
        Request a demo
        <i class="fas ml-10 fa-angle-right"></i>
      </a>
    </div>
  </section>
  <section
    class="our--partners main--container sub--container wrap flex flex--middle"
  >
    <p class="w-100 text-center">
      Over 500+ companies bond teams together with Oneburner
    </p>
    <div class="w-100 flex mt-25 wrap flex--middle flex--between">
      <div class="partner">
        <img src="../img/paystack.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/egyptair.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/dangote.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/stanbic.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/mtn.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/gtb.png" alt="" />
      </div>
      <div class="partner">
        <img src="../img/skooleeo.png" alt="" />
      </div>
    </div>
  </section>
</header>
