<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MVC Accordion</title>
    <meta name="author" content="Tom Tillistrand" />
    <meta name="description" content="MVC Accordion" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../scss/main.scss" type="text/css" />
  </head>
  <body></body>
</html>
