<nav class="flex--middle flex">
  <div class="main--container flex flex--between">
    <div class="left--nav flex--middle flex">
      <div class="logo">
        <img src="../img/logo.png" alt="" />
      </div>
    </div>
    <div class="right--nav flex--middle flex">
      <div class="nav--links">
        <ul>
          <li>
            <span class="mr-15">New Customer ?</span>
            <a class="btn--nav--link" href="">
              Try For Free
              <i class="fas ml-10 fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
